In [71]:
import pandas as pd
import joblib
import yaml
from sklearn.model_selection import train_test_split
from ML.data import process_data
from ML.model import train_model, compute_model_metrics, inference, slice_data #, process_data

In [72]:
model = joblib.load("model/classifier_model.joblib")

In [73]:
#model = joblib.load('./model/classifier_model.joblib')

In [74]:
# Reading configuration file
with open('config.yaml') as f:
    config = yaml.load(f, Loader=yaml.FullLoader)

In [75]:
# loading in the data.
df = pd.read_csv('./data/census_clean.csv')

In [76]:
# categorical features in data
cat_features = config['data']['cat_features']

In [77]:
# save encoder and binarizer of the training data
encoder_train = joblib.load('./model/encoder_train.joblib')
lb_train = joblib.load('./model/lb_train.joblib')

In [78]:
# train-test split
train, test = train_test_split(df, test_size=config['model_training']['test_size'],
                               random_state=config['model_training']['random_state'],
                               stratify=df['salary'])

In [79]:
X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features,
    label="salary", training=True)#, encoder=encoder_train, lb=lb_train
#)

/Users/femibolarinwa_comp/miniconda3/envs/proj3/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [80]:
preds = inference(model, X_train)#[0])#,:])

In [81]:
prediction = lb.inverse_transform(preds)#[9760]

In [82]:
prediction

array([' <=50K', ' >50K', ' <=50K', ..., ' <=50K', ' >50K', ' <=50K'],
      dtype='<U6')

In [68]:
len(prediction)

32537

In [69]:
len(X_train)

32537

In [70]:
train.tail()

,age,workclass,fnlgt,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary
30970,40,Self-emp-inc,104235,Masters,Never-married,Other-service,Own-child,White,Male,99,United-States,<=50K
9530,48,Self-emp-not-inc,167918,Masters,Married-civ-spouse,Sales,Husband,Asian-Pac-Islander,Male,50,India,<=50K
21735,67,?,159542,5th-6th,Widowed,?,Unmarried,Black,Female,40,United-States,<=50K
22304,40,Private,79586,Prof-school,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,?,>50K
5370,27,Private,36851,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,35,United-States,<=50K